pymupdf 
pytesseract 
python-docx
openpyxl
python-pptx
langchain
langchain-community 
chromadb 
sentence-transformers 
rank-bm25 
streamlit 
ragas 
pytest 
python-dotenv 
groq 
google-genai 
openai 
langchain-groq 
datasets 
presidio-analyzer
presidio-anonymizer